
@{
    ViewBag.Title = "خانه";
}
<button onclick="window.location='/Manage/Actions/Charge'" class="w3-button w3-amber w3-hover-green"><img src="http://icons.iconarchive.com/icons/aha-soft/large-business/72/Cash-register-icon.png" />شارژ صندوق</button>
<button onclick="window.location='/Manage/Reports/SellChart'" class="w3-button w3-amber w3-hover-green"><img src="http://icons.iconarchive.com/icons/inipagi/job-seeker/72/test-icon.png" />گزارش شارژ</button>