
@{
	ViewBag.Title = "Index";
}
<button onclick="window.location='/Operator/Actions/Sell'" class="w3-button w3-metro-dark-blue w3-hover-black"><img src="http://icons.iconarchive.com/icons/designbolts/seo/72/Pay-Per-Click-icon.png" />فروش ارز</button>